<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
   <!--Made with love by Mutiullah Samim -->
   
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <br>
    <br>
    <div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style = "min-width: 750px; max-height: 400px;">
            <div class="card-header">
                <h3>Chat Room</h3>
            </div>
            <div class="card-body">
                Hello, {{ user }}!
                <br>
                Find a user and start chatting!
                <br>
                <br>
                <br>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8" style="min-width: 550px">
                        <form class="card card-sm">
                            <div class="card-body row no-gutters align-items-center">
                                <div class="col-auto">
                                    <i class="fas fa-search h4 text-body"></i>
                                </div>
                                <!--end of col-->
                                <div class="col">
                                    <input id="username-input" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search a user">
                                </div>
                                <!--end of col-->
                                <div class="col-auto">
                                    <input id="username-submit" class="btn btn-lg btn-success" type="button" value="Enter"/>
                                </div>
                                <!--end of col-->
                            </div>
                        </form>
                    </div>
                    <!--end of col-->
                </div>
                <form method="post" id="go-to-room" action="room/">
                  <input type="hidden" name="room_name">
                  <input type="hidden" name="csrfmiddlewaretoken" value={{ csrf_token }}>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <a href="/logout/">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"> </script>
  <script>
    document.querySelector('#username-input').focus();
    document.querySelector('#username-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#username-submit').click();
        }
    };

    document.querySelector('#username-submit').onclick = function(e) {
    var userName = document.querySelector('#username-input').value;
    var users = ["{{user}}", userName];
    console.log(users)
    $.ajax({
        url: '/find_room/',
        data: {'users': users,
           'csrfmiddlewaretoken': "{{ csrf_token }}"},
        type: 'POST',
        success: function (response) {
        console.log(response);
        $('input[name="room_name"]').val(response);
        $('#go-to-room').submit();
        },
    })
    };
  </script>
</html>

